.button {
  padding: 0 35px;
  margin-left: 25px;
  background-color: #179CE4;
  color: #fff;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  font-family: 'SF-Pro-Text-Bold';
  font-size: 14px;
}