html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF-Pro-Text-Regular';
  font-size: 14.4px;
  letter-spacing: -0.35px;
  color: #2f3132;
}

html {
  margin: 65px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  display: flex;
  margin-top: 65px;
}

.label {
  font-family: 'SF-Pro-Text-Bold';
  font-size: 16px;
  margin: 15px;
}

.flex {
  display: flex;
}
